html {
  overflow-y: scroll;
  color: #d8f3dc;
  /* overflow: scroll;*/
  overflow-x: hidden;
  height: 100%;
  background: black;
  padding: 0;
  margin: 1vh 2vh 1vh 1vh;
}
/*::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent
}*/

body,
#app,
#main,
#router,
.home {
  font-family: "Space Mono", monospace;
  background: transparent;
  color: #ddd;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  color: #f5e8ff;
  background-color: #818c8a;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-style: groove;
  border-color: #a0adab;
  font-family: "Space Mono", monospace;
}

.navButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navHeading {
  font-size: 50px;
  background-color: #47434a;
  border-radius: 15%;
  border-style: groove;
  border-color: #a0adab;
  padding-left: 25px;
  padding-right: 25px;
}

nav > a {
  top: 2%;
  left: 2%;
  text-decoration: none;
  color: #ddd;
  border: solid 1px rgba(150, 150, 150, 0.5);
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
}

nav a:hover {
  box-shadow: 0 0 1px 1px #ccc;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navlinks * {
  margin-left: 5em;
  margin-right: 5em;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 500px;
}

.teamMember {
  padding: 3em;
  display: flex;
  flex-direction: row;
  flex: 1 1 1;
}
.teamMember > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 auto;
  width: 300px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.galaxy {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.solar-system-orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(150, 150, 150, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

/* input:checked + .slider {
  background-color: #153b50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #153b50;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#toggle {
  margin-top: 20px;
}
