body {
  font-family: sans-serif;
  background: black;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  cursor: pointer;
  font-style: italic;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main {
  background-color: transparent;
}
